@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
    background: #57606f;
    font-family: "Orbitron", sans-serif;
}
.calculadora-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .calculadora {
    text-align: center;
    box-shadow: 0 5px 12px rgb(167, 164, 164);
    border: 2px solid rgb(70, 68, 68);
  }
  .resultado {
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    width: 80%;
    height: 30px;
    margin: 20px auto;
  }
  
  .botoes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .calculadora-botao {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .calculadora-botao:hover {
    background-color: #45a049;
  }
  .calculadora-botao-virgula {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .calculadora-botao-virgula:hover {
    background-color: #45a049;
  }
.grupo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }